/*  Selector Universal  */

*{
    
    padding: 0;
    margin: 0;
    
}

/*  Selector de Etiqueta    */

body{
    
    background-color: #f1ecea;
    color: white;

}   

/*  Selector de Clase   */

.texto{

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 5px 25px;
    color: whitesmoke;

}

/*Selector de Clase*/

.img{

    width: 100px;
    border-radius: 1px solid;
    justify-items: center;
    margin: 5px 5px;

}

/*Selector de Clase*/

.encabezado-articulo{

    padding: 10px;
    text-align: center;
    background-color: rgb(223, 220, 211);
    color: rgb(255,255,255);
    margin: 1em 2em;
    border-radius: 5px;

}

/*  Selector de Clase   */

.encabezado-aside{
   
    padding: 10px 10px;
    text-align: center;
    color: white;
    margin: 1em 2em;

}

/*Selector de Clase*/

.menu-aside{
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;   
    padding: 0 , 25px;

}

/*Selector de Clase*/

.lista-aside{
    
    padding: 10px;

}

/*anidado el estilo dentro de la lista aside para lo que esta adentro*/

.lista-aside li {
    
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #0000;

}

/*  Selector ID*/

#contenedor{
    
    width: 900px;

    background-color: #8e8672;
    max-width: 0 auto;
    border-radius: 5px;

}

#encabezado{
    background-color: #3a251c;
    margin: 0 2px 0 0;

}

#menu{
    
    height: 5%;
    background-color: #b46424;
 

}

#contenido{
    
    height: 70%;
    width: 64%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion{
    
    height: 545px;
    width: 30%;
    background-color: #b58c7c;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;

}

#pie{

    height: 10%;
    background-color: #3a251c;
    margin: 1.5em;
    text-align: center;
    padding: 5px;

}

#pie h4{
    
    padding: 10%;
    font-size: 30px;

}

/*  Selector de Etiqueta*/

ul{
    
    text-align:center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px;
    margin: 3em;
    
}

/*cuando pasa el cursor sobre un txt a resaltar*/

li a:hover{

    color: white;
    text-decoration: none;
    list-style: none;

}